@media(max-width: 1050px) {
    ._customer-price {
        &__image {
            position: static;
            transform: initial;
        }

        &__wrapper {
            align-items: center;
            padding: 20px;
            gap: 20px;
        }
    }

    ._customer-freezers {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }



    ._customer-freezers-item {
        &__btn {
            opacity: 1;
            max-width: 100%;
        }

        &__info {
            margin-bottom: 20px;
        }
    }

    ._customer-freezers-item:hover {


        ._customer-freezers-item__wrapper {
            box-shadow: none;
        }
    }


}


@media (max-width: 991px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    ._customer-clients {
        &__slider {
            width: 100%;
        }

        &__pagination {
            display: block;
        }
    }


    ._customer-btn {


        &:hover {
            transform: scale(1);
        }
    }

    .swiper-wrapper {
        padding-bottom: 40px;
        bottom: 0;
    }

    ._customer-reviews {
        &__slider {
            width: 100%;
        }



        ._customer-reviews__pagination {
            display: block;
        }
    }




    ._customer-why-us-nums {
        flex-wrap: wrap;
        gap: 40px;
        flex-direction: column;

        &__num {
            font-size: 80px;
        }
    }

    ._customer-why-us-advantages {
        flex-wrap: wrap;
        justify-content: space-evenly;

        &__item {
            width: 50%;
            flex-direction: column;
        }

        &__text {
            padding-top: 0;
        }
    }

    ._customer-freezers {
        margin-bottom: 70px;
    }

    ._customer-service-col {
        flex-direction: column;
    }



    ._customer-freezers {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    ._customer-price {

        &__wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__descr {
            max-width: 100%;
            text-align: center;
        }

        &__btns {
            justify-content: center;
        }
    }

}

@media(max-width: 767px) {
    ._customer-header {
        &__inner {
            align-items: flex-start;
            padding: 20px 25px;
        }
    }

    ._customer-service-col {
        &__link:hover {
            color: initial;
        }
    }

    ._customer-modal {
        &__content {
            padding: 50px 15px 15px 15px;
            width: 95%;
        }

        &__title {
            font-size: 20px;
        }
    }


    ._customer-why-us-advantages {
        &__item {
            width: 100%;
            max-width: 100%;
            text-align: center;
        }
    }

    ._customer-freezers,
    ._customer-header,
    ._customer-services,
    ._customer-price,
    ._customer-why-us,
    ._customer-reviews {
        margin-bottom: 50px;
    }



    ._customer-freezers {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    ._customer-services {
        &__bg {
            background-position: top;
        }

        &__wrapper {
            flex-wrap: wrap;
        }

        ._customer-service-col {
            width: 100%;
        }
    }

    ._customer-title {
        margin-bottom: 30px;
    }

}


@media(max-width: 575px) {
    ._customer-header {
        &__inner {
            flex-direction: column;
            padding: 20px 20px;
        }
    }

    ._customer-freezers,
    ._customer-header,
    ._customer-services,
    ._customer-price,
    ._customer-why-us,
    ._customer-reviews {
        margin-bottom: 40px;
    }

    ._customer-freezers {
        margin-bottom: 30px;
    }

    ._customer-title {
        margin-bottom: 20px;
    }


    ._customer-title {
        font-size: 20px;
    }


    ._customer-price {
        &__title {
            font-size: 20px;
        }

        &__image {
            width: 100%;
        }

        &__btns {
            flex-direction: column;
        }
    }


}